@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "poppins";
  background-color: gray;
  height: 100vh;
}

.button-transition:disabled {
  background-color: #999;
  cursor: not-allowed;
}