@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #cfcece;
}

* {
    scroll-behavior: smooth;
    margin: 0;
}

.button-transition:disabled{
    background-color: #999;
    cursor: not-allowed;
}